.site-header {
  text-align: center;
  margin: 1rem 0;
}

.logo {
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;

}
.logo a {
  text-decoration: none;
  color: inherit;
}
  .logo a:hover {
    color: #671fad;
  }

a {
  color: inherit;
}
  a:hover{
    color: #671fad;
  }
